<footer>
    <div class="f-info">
        <div class="social">
            <i class="fa-brands flogo fa-square-facebook"></i>
            <i class="fa-brands flogo fa-square-instagram"></i>
            <i class="fa-brands flogo fa-linkedin"></i>
        </div>
   
    <div class="name"> &copy; Wanderlust Privete Limited</div>
    <div class="f-info-links">
        <a href="#">Privacy</a>
        <a href="#">Terms</a>
    </div>
    </div>
</footer>