<% layout("/layouts/boilerplates.ejs") %>
<div class="row" style="display: flex; align-items: center; justify-content: center; margin: 3rem;">
<div class="alert alert-danger col-6 " role="alert">
    <h4><i class="fa-solid fa-triangle-exclamation" ></i> Code: <%= error.statuscode %> <br>
    <%= error.message %>  </h4>
</div>
</div>