<% layout("/layouts/boilerplates.ejs") %>
<body>
  <div class="col-8">
<form action="/listings" method="post" novalidate class="needs-validation" enctype="multipart/form-data"    >
  <p><%= success %> </p>
    <div class="mb-3">
        <label for="exampleInputPassword1" class="form-label">Title</label>
        <input type="text" name="title" class="form-control" id="exampleInputEmail1" >

    </div>
    <div class="mb-3">
        <label for="exampleInputPassword1" class="form-label">Description</label>
        <input type="text" name="description" class="form-control" id="exampleInputEmail1" required>
    </div>
    <div class="mb-3">
        <label for="exampleInputPassword1" class="form-label">Price</label>
        <input type="text" name="price" class="form-control" id="exampleInputEmail1" required>
    <div class="invalid-feedback">Please choose a valid number.</div>
    <div class="valid-feedback">Valid Number.</div>
    </div>
    <div class="mb-3">
        <label for="exampleInputPassword1" class="form-label">Location</label>
        <input type="text" name="location" class="form-control" id="exampleInputEmail1" required>
    </div>
    <div class="mb-3">
        <label for="exampleInputPassword1" class="form-label"> Upload Image</label>
        <input type="file" name="image" class="form-control" id="exampleInputEmail1" required>
    </div>
    <div class="mb-3">
        <label for="exampleInputPassword1" class="form-label">Country</label>
        <input type="text" name="country"  class="form-control" id="exampleInputEmail1" required>
    </div>

    <button type="submit" class="btn btn-primary">Submit</button>
  
</form>
</div>
</body>